/** Colors */
$background-primary: #000000;
$background-secondary: #f0efef;
$background-tertiary: #ffffff;
$border-secondary: #dad6d6;
$text-light: #ffffff;
/** Breakpoints */
$bp-mobile: 480px;
/** Font */
$fw-light: 300;
$fw-regular: 400;
$fs-xs: 1.8rem;
$fs-s: 2rem;
$fs-l: 6.4rem;
$fs-xl: 9.6rem;
