@font-face {
  font-family: 'Kreon';
  font-weight: 400;
  font-style: normal;
  src:
    url(../fonts/kreon-400.woff2) format('woff2'),
    url(../fonts/kreon-400.woff) format('woff');
}

@font-face {
  font-family: 'Kreon';
  font-weight: 300;
  font-style: normal;
  src:
    url(../fonts/kreon-300.woff2) format('woff2'),
    url(../fonts/kreon-300.woff) format('woff');
}
