@import 'assets/scss/constants';

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-image: url('../../../shared//assets/img/Kitten.png');
  background-repeat: no-repeat;
  background-position: top right;

  @media screen and (max-width: $bp-mobile) {
    background-image: none;
  }
}
